---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I’m a backend software engineer building and operating data-intensive systems, primarily using Go and PHP.
		</p>
		<p>I’m interested in scalable systems and distributed architectures. I care about making pragmatic design decisions that stand the test of time.</p>
		<p>I deploy and operate services on Google Cloud Platform (GCP) using Kubernetes, and also have experience working in AWS-based environments.</p>
	</div>
</PageLayout>
